<html>
<head>
    <link rel="stylesheet" href="~/css/Stream.css">
</head>
<body>
    <div class="link">Trang chủ\ Phim Hàn Quốc\ Big Mouth</div>
    <div class="stream">
        <div class="streaming">
        </div>
        <div class="Eps">
            <div class="server">
                <h2>Server:</h2>
                <ul>
                    <li>#1</li>
                    <li>#2</li>
                    <li>#3</li>
                    <li>#4</li>
                </ul>
            
            </div>
         <div class="Eps">      
                <h2>Chọn tập phim</h2>
                <ul>
                    <li>#1</li>
                    <li>#2</li>
                    <li>#3</li>
                </ul>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="frmovie">
            <div class="avamovie">
                Ảnh phim
       
            </div>
            <div class="titlemovie">
                <h1>Tên tiếng Việt</h1>
                <h2>Tên tiếng Anh</h2>
            </div>
            <div class="infmovie">
                <dl class="">
                    <dt>Trạng thái:</dt>

                    <dt>Đạo diễn:</dt>

                    <dt>Thời lượng:</dt>

                    <dt>Số tập:</dt>

                    <dt>Tình trạng:</dt>

                    <dt>Ngôn ngữ:</dt>

                    <dt>Năm sản xuất:</dt>

                    <dt>Quốc gia:</dt>

                    <dt>Thể loại:</dt>
                    <dt>Diễn viên:</dt>
                </dl>
            </div>
       
        </div>
        <div class="list-movie">
            <h1 id="phimlienquan">PHIM LIÊN QUAN</h1>
            <div class="movie">
                <img />
                <dl>
                    <h1>Big Mouth</h1>
                    <dt>Lượt xem: </dt>
                    <div class="rating1">
                        <img src="~/images/icons8_star_48px_3.png" />
                        <img src="~/images/icons8_star_48px_3.png" />
                        <img src="~/images/icons8_star_48px_3.png" />
                        <img src="~/images/icons8_star_48px_3.png" />
                        <img src="~/images/icons8_star_48px_3.png" />

                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="mxSGj4TR"></script>
<div class="fb-comments" style="background-color:white; margin-top: 100px" data-href="http://localhost/Home/" data-width="1200" data-numposts="5" ></div>
</html>
