<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    
        <header class="header">

            <div class="header-with-search">
                <div class="header__logo">
                    <a asp-action="Index" asp-controller="Home" class="header__logo-link">
                        <div class="header__logo-text">
                            <img src="images/logo1.png" />
                            <b>HENTA</b>
                            <span>.VN</span>
                        </div>
                    </a>
                </div>
                <div class="header__search">
                    <div class="header__search-input-wrap">
                        <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm">
                        <div class="header__search-history">
                        </div>
                    </div>
                    <a href="">
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fas fa-search"></i>
                        </button>
                    </a>
                </div>
                <a href="" class="">
                    <button class="header__search-btn2">
                        Tìm kiếm nâng cao
                    </button>
                </a>
            </div>
            <div class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="">
                            Thể Loại
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="header__navbar-sub-list">
                            <div class="sub-list-wrap-1">
                            <li class="header__navbar-sub-item"><a href="">Tình cảm - lãng mạn</a></li>
                            <li class="header__navbar-sub-item"><a href="">Hài Hước</a></li>
                            <li class="header__navbar-sub-item"><a href="">Học Đường</a></li>
                            <li class="header__navbar-sub-item"><a href="">Phiêu lưu</a></li>
                            <li class="header__navbar-sub-item"><a href="">Webdrama</a></li>
            </div>
            <div class="sub-list-wrap-2">
                <li class="header__navbar-sub-item"><a href="">Võ Thuật</a></li>
                <li class="header__navbar-sub-item"><a href="">Gia Đình</a></li>
                <li class="header__navbar-sub-item"><a href="">Giải Trí</a></li>
                <li class="header__navbar-sub-item"><a href="">Thần Thoại</a></li>
                <li class="header__navbar-sub-item"><a href="">Đam Mỹ - Bách Hợp</a></li>
            </div>
            <div class="sub-list-wrap-3">
                <li class="header__navbar-sub-item"><a href="">Cổ trang</a></li>
                <li class="header__navbar-sub-item"><a href="">Chiến Tranh</a></li>
                <li class="header__navbar-sub-item"><a href="">Hình Sự</a></li>
                <li class="header__navbar-sub-item"><a href="">Tâm Lý</a></li>
            </div>
            </ul>
            </li>
            <li class="header__navbar-item">
                <a href="">
                    Quốc Gia
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="header__navbar-sub-list">
                    <div class="sub-list-wrap-1">
                    <li class="header__navbar-sub-item"><a href="">Hàn Quốc</a></li>
                    <li class="header__navbar-sub-item"><a href="">Trung Quốc</a></li>
                    <li class="header__navbar-sub-item"><a href="">Ấn Độ</a></li>
                    <li class="header__navbar-sub-item"><a href="">Tất Cả</a></li>

                    </div>
                    <div class="sub-list-wrap-2">
                    <li class="header__navbar-sub-item"><a href="">Nhật Bản</a></li>
                    <li class="header__navbar-sub-item"><a href="">Mỹ</a></li>
                    <li class="header__navbar-sub-item"><a href="">Philipin</a></li>
                    </div>
                    <div class="sub-list-wrap-3">   
                    <li class="header__navbar-sub-item"><a href="">Thái Lan</a></li>
                    <li class="header__navbar-sub-item"><a href="">Việt Nam</a></li>
                    <li class="header__navbar-sub-item"><a href="">Âu Mỹ</a></li>
                    </div>
                </ul>
            </li>
            <li class="header__navbar-item">
                <a href="">
                    Phim Bộ
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="header__navbar-sub-list">
                    <div class="sub-list-wrap-1">
                    <li class="header__navbar-sub-item"><a href="">Hàn Quốc</a></li>
                    <li class="header__navbar-sub-item"><a href="">Trung Quốc</a></li>
                    <li class="header__navbar-sub-item"><a href="">Ấn Độ</a></li>
                    <li class="header__navbar-sub-item"><a href="">Tất Cả</a></li>

                    </div>
                    <div class="sub-list-wrap-2">
                    <li class="header__navbar-sub-item"><a href="">Nhật Bản</a></li>
                    <li class="header__navbar-sub-item"><a href="">Mỹ</a></li>
                    <li class="header__navbar-sub-item"><a href="">Philipin</a></li>
                    </div>
                    <div class="sub-list-wrap-3">
                    <li class="header__navbar-sub-item"><a href="">Thái Lan</a></li>
                    <li class="header__navbar-sub-item"><a href="">Việt Nam</a></li>
                    <li class="header__navbar-sub-item"><a href="">Âu Mỹ</a></li>
                    </div>
                </ul>
            </li>
            <li class="header__navbar-item"><a href="">Phim Chiếu Rạp</a></li>
            <li class="header__navbar-item"><a href="">Phim Sắp Chiếu</a></li>
            <li class="header__navbar-item"><a href="">TV Show</a></li>
            <li class="header__navbar-item"><a href="">Hoạt Hình - Anime</a></li>
            <li class="header__navbar-item"><a asp-controller="Login" asp-action="Index">Đăng nhập</a></li>
            </ul>
            <div class="navigation">
                <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
                <label for="navi-toggle" class="navigation__button">
                    <span class="navigation__icon">&nbsp;</span>
                </label>
                <div class="navigation__background">
                    &nbsp;
                </div>

                <div class="navigation__nav">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our Skills</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our courses</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Enroll form</a></li>
                    </ul>
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our Skills</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our courses</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Enroll form</a></li>
                    </ul>
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our Skills</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our courses</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Enroll form</a></li>
                    </ul>
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our Skills</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our courses</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Enroll form</a></li>
                    </ul>
                </div>
            </div>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <footer class="footer">
            <div class="footer__left">
                <div class="header__logo-text">
                    <b>HENTA</b>
                    <span>VN</span>
                </div>
                <p class="par">Nơi cập nhật những bộ phim mới hot nhất hiện nay.</p>
            </div>
            <div class="footer__right">
                <span class="footer__right-name">Thông Tin</span>
                <ul class="footer__right-list">
                    <li class="footer__right-item">
                        <a href="#">Điều khoản sử dụng</a>
                    </li>
                    <li class="footer__right-item">
                        <a href="#">Bản quyền và trách nhiệm nội dung</a>
                    </li>
                    <li class="footer__right-item">
                        <a href="#">Admin: hentainfo@gmail.com</a>
                    </li>
                    <li class="footer__right-item">
                        <a href="#">Liên hệ QC: henta@gmail.com</a>
                    </li>
                </ul>
            </div>
        </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
