html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
body {
  
}
.container{
    width: 1200px;
    height: auto;
    left: 50%;  
    transform:translateX(-50%);
    top: 50px;
    padding: 0;
    display: inline-flex;
    

}
.link {
    position: relative;
    width: 1200px;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    align-content: space-between;
    padding-top: 17px;
    padding-left: 10px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid white;
    margin: auto;
}
.frmovie {
    position: relative;
    background-color: rgba(0,0,0,0.1);
    width: 800px;
    height: 500px;
    border: 1px white solid;
    margin-right: 10px;
    top: -40px;
}
.avamovie {
   
    background-color: dimgrey;
    width: 300px;
    height: 400px;
    margin-left: 15px;
    border: 1px white solid;
    margin-top: 40px;
  
}
.titlemovie {
    margin: -400px 370px;
    width :400px;
    height:50px;
    color: white;
   
    line-height:normal;
    font-family: Montserrat;
}
.avamovie li {
    display: inline;
    color: white;
    font-size: 10px;    
}
.avamovie img{
    z-index: 0;
}

#li1 a {
    font-size: 20px;
    margin-left: -35px;
    padding: 15px 20px;
}

#li2 a {
    font-size: 20px;
    background-color: darkred;
    margin-left: 10px;
    width: 140px;
    padding: 15px 20px;
}
.avamovie ul {
    position: absolute;
    margin: 330px -1px;
    height: 50px;
    width: 300px;
    z-index: 9;
    padding-top: 1px;
    padding-bottom: 17px;
    background-color: rgba(0,0,0,0.7);
}
.infmovie {
    font-family: Montserrat;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    width: 410px;
    height: 250px;
    background-color: rgba(0,0,0,0.4);
    float: left;
    margin-top: 400px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    line-height: 26px;
}
.infmovie::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
dt {
    color: #bbb;
    font-size: 12px;
    font-weight: 500;    
}
.rating{
    position: absolute;
    width: 400px;
    margin: 700px -760px;
    color: white;
    height:20px;
    display: inline-flex;

}
.rating h2{
    margin-left: 20px;
    margin-top: 2.5px
}
.list-movie {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    background-color: deeppink;
    width: 390px;
    height: 500px;
    position: relative;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid white;
    margin-top: -40px;
    font-family: Montserrat;
}

.movie {
    position: relative;
    background-color: rgba(0,0,0,0.4);
    width: 385px;
    height: 150px;
    display: inline-flex;
    margin-bottom: 15px;
   
}
    .movie img {
        background-color: dimgrey;
        margin-left: 10px;
        margin-right: 10px;
    }
    .movie dl {
        position: relative;
       
    }
.poster {
    max-width: 120px;
    max-height: 149px;
    min-width: 120px;
    min-height: 149px;
}
.movie dt{
    color: white;
}
.movie h2 {
    color: white;
    width: 200px;
    height: 40px;
    position: relative;
    word-wrap:break-word;
}
.rating1{
    height:30px;
}
.rating1 img{
    margin: 0;
    
    margin-top: 5px;
    background: none;
    height: 24px;
    width: 24px;
}
.rating1 h2{
  
    color: white;
}
#phimlienquan{
    position: relative;
    color:white;
    
}

@media screen and (max-width: 600px){

    .container {
        width: 90%;
        float: left;
        display: block;
        position: relative;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .link {
        width: 100%;
        float: left;
        display: inline-flex;
    }
   .avamovie img{
        
       width: 180px;
       height: 250px;
   }
    .frmovie {
        width: 450px;
   
        margin-bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .avamovie {
        width: 180px;
        height: 250px;
        margin: 60px 10px;
    }
    .infmovie{
        width: 240px;
        margin-left: 200px;
        top: -710px;
    }
    .list-button {
        left: 50%;
        transform: translateX(-50%);
    }
    .rating{
      top: -380px;
      
    }
    .titlemovie {
        position: absolute;
       line-height:normal;
        width: 350px;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        margin: -380px 10px;
    }
    .list-movie {
        top: -600px;
        left: 50%;
        transform: translateX(-50%);
    }
    .fb{
        position:relative;
       margin-bottom: -300px;
       top: -500px;
    }
}
